.home {
    /* width: 100%;
    height: 100vh;
    background-color: #D3D3D3;
    background-size: cover; */
    /* background-position: center; */
    position: absolute;
    text-align: center;
    /* background-color: #D3D3D3; */
  top: 11%;
  left: 42%;
  margin: -50px 0 0 -50px;
  min-height: 100vh;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}