.header {
    display: flex;
    position: fixed;
    flex-direction: column;
    inset: 0 75% 0 0;
    background-color: #7e7979;
    /* backdrop-filter: blur(.1rem); */
}

.header-mobile {
    display: flex;
    position: fixed;
    flex-direction: column;
    align-items: center;
    inset: 1 95% 0 0;
    background-color: #7e7979;
}
/* 
nav a {
    display: flex;
    align-items: center;
    padding-left: 198%;
} */

nav .ul-item {
    display: flex;
    flex-direction: column;
    margin-block: .5rem;
    list-style: none;
}

nav .ul-item.oicon a {
    display: none;
}

nav .ul-item.oicon li::after {
    content: '';
    position: absolute;
    width: 1%;
    height: 4%;
    right: 0;
}

nav .ul-item li {
    display: flex;
    align-items: center;
    gap: 2.5rem;
    cursor: pointer;
    padding-block: 6.5rem;
    margin-block: .65rem;
}

nav .ul-item li:hover {
    background-color: rgb(62, 65, 60);
    transition: 1s ease-in-out;
}

nav .ul-item li .icon {
    color: #110f0f;
    margin-inline: 1rem;
    font-size: 35px;
}

nav .ul-item li a {
    text-decoration: none;
    color: #98FB98;
    font-size: 25px;
}

.menu-icon {
    margin-inline: 1rem;
}

.menu-icon .menu {
    color: #110f0f;
    margin-block: 1.5rem;
    cursor: pointer;
    font-size: 35px;
}

@media (max-width:800px) {
    .header-mobile {
        inset: 0 90% 0 0;
        justify-content: center;
    }

    nav .ul-item li a {
        text-decoration: none;
        color: #98FB98;
        font-size: 25px;
    }

    /* nav .ul-item li .link {
        display: none;
    } */

    nav .ul-item li {
        display: flex;
        align-items: center;
        gap: .5rem;
        cursor: pointer;
        padding-block: 6.5rem;
        margin-block: .65rem;
    }

    nav .ul-item.oicon {
        display: flex;
    }

    /* .menu-icon {
        display: none;
    } */

    nav .ul-item li .icon {
        font-size: clamp(1rem, 2vw + 1rem, 4rem);
    }
}

@media (max-width:700px) {
    .header-mobile {
        inset: 0 90% 0 0;
        justify-content: center;
    }

    nav .ul-item li a {
        text-decoration: none;
        color: #98FB98;
        font-size: 20px;
    }

    /* nav .ul-item li .link {
        display: none;
    } */

    nav .ul-item li {
        display: flex;
        align-items: center;
        gap: .5rem;
        cursor: pointer;
        padding-block: 6.5rem;
        margin-block: .65rem;
    }

    nav .ul-item.oicon {
        display: flex;
    }

    /* .menu-icon {
        display: none;
    } */

    nav .ul-item li .icon {
        font-size: clamp(1rem, 2vw + 1rem, 4rem);
    }
}

@media (max-width:500px) {
    .header-mobile {
        inset: 0 90% 0 0;
        justify-content: center;
    }

    nav .ul-item li a {
        text-decoration: none;
        color: #98FB98;
        font-size: 13px;
    }

    /* nav .ul-item li .link {
        display: none;
    } */

    nav .ul-item li {
        display: flex;
        align-items: center;
        gap: .5rem;
        cursor: pointer;
        padding-block: 6.5rem;
        margin-block: .65rem;
    }

    nav .ul-item.oicon {
        display: flex;
    }

    /* .menu-icon {
        display: none;
    } */

    nav .ul-item li .icon {
        font-size: clamp(1rem, 2vw + 1rem, 4rem);
    }
}
