* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  /* background-color: #D3D3D3; */
}

*::after, *::before {
  box-sizing: border-box;
}

 .App {
  text-align: center;
  background-color: #D3D3D3;
}
/*
h1 {
  font-size: 4.5em;
  font-weight: 900;
  color: #ff0000;
  font-family: Arial, Helvetica, sans-serif;
  text-shadow: 10px 10px #282c34;
  animation: Colr 5s infinite,
             Shadow 3s infinite;
}

@keyframes Colr {
  from {color: #ff0000;}
  to {color: #282c34;}
}

@keyframes Shadow {
  from {text-shadow: 10px 10px #282c34;}
  to {text-shadow: 10px 10px #ff0000;}
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  position: absolute;
  top: 11%;
  left: 42%;
  margin: -50px 0 0 -50px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #156a81;
  display: inline;
  margin-right: 15%;
  margin-left: 3%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

footer div {
  line-height: 83em;
}

/* footer section {
  line-height: 13em;
} */
